/*error.scss*/
/* error.css Wezom wTPL v4.0.0 */
.errorPage { overflow-x: hidden; height: 100%; margin: 0; padding: 0; }

.errorWrapper { display: table; width: 100%; min-height: 100%; height: 100%; position: relative; overflow: hidden; background-color: #eee; background: radial-gradient(ellipse at center, #fff 0, #fff 22%, #e1e1e1 60%); }

.no-moz .errorWrapper { height: auto !important; }

.errorHolder { display: table-cell; vertical-align: middle; }

.errorContent { display: block; max-width: 640px; margin: 0 auto; padding: 10px; text-align: center; }

.errorContent .wTxt { text-align: center; }

.errorHeader { display: inline-block; vertical-align: top; font-weight: bold; font-size: 200px; line-height: 1em; }

.errorHeader:before { content: ''; position: absolute; z-index: -1; width: 130%; left: -15%; bottom: 0; height: 20%; -webkit-filter: blur(4px); filter: blur(4px); opacity: .5; background: radial-gradient(ellipse at center, #999 0%, rgba(153, 153, 153, 0) 60%); }

.errorHeader { color: #333; }

@media only screen and (max-width: 720px) { .errorHeader { font-size: 150px; } }

@media only screen and (max-width: 480px) { .errorHeader { font-size: 100px; } }

/*# sourceMappingURL=maps/error.css.map */
