/*responsive.scss*/
@media only screen and (max-width: 1500px) { .wMainSlider .wPrev, .wMainSlider .wNext, .wMainSlider .wPrev svg, .wMainSlider .wNext svg { height: 51px; width: 27px; }
  .wMainSliderText { font-size: 25px; line-height: 30px; bottom: 20px; }
  .wWrapper { background: none; } }

@media only screen and (max-width: 1240px) { .wCatalogList ul li { float: none; display: inline-block; vertical-align: top; } }

@media only screen and (max-width: 1200px) { .wMainSlider .wPrev { left: 10px; }
  .wMainSlider .wNext { right: 10px; }
  .wHeaderLH + .wHeaderLH { margin-left: 2%; }
  .wFooterList { margin-left: 300px; } }

@media only screen and (max-width: 1100px) { .wHeaderLH + .wHeaderLH { margin-left: 1%; } }

@media only screen and (max-width: 1024px) { .wMainSlider { display: none; }
  .wHeaderFix { display: block; }
  .wMenu { display: none; }
  .wHeaderBot { box-shadow: none; height: 0; }
  .wHeader { padding-top: 50px; box-sizing: border-box; z-index: 11; }
  .wHeaderLH { float: none; display: inline-block; vertical-align: middle; margin: 0 15px; }
  .wCart, .wCallBack { display: none; }
  .wHeaderTop { text-align: center; }
  .wIndexSliders { padding-top: 30px; }
  .wLeft { display: none; }
  .wIndexPreim .wSliderTitle { margin-bottom: 10px; }
  .wPreimItem { width: 46%; height: 80px; margin-bottom: 10px; padding-bottom: 0px; border: none; }
  .wFooterList { display: none; }
  .wFooterContacts { width: calc(100% - 300px); line-height: 240px; padding: 0; }
  .wPhonesBot { margin-bottom: 0; width: 170px; display: inline-block; vertical-align: middle; line-height: 60px; }
  .wPhonesBot a { display: block; }
  .wFooterContacts .wHeaderLH { display: inline-block; vertical-align: middle; margin-left: 5%; margin-bottom: 0; }
  .wFooterContacts .wCallBack { display: none; }
  .wIndexNews .wNewsItem { float: none; width: 100%; }
  .wItem .wRight { margin-left: 0; max-width: 100%; }
  .wOrderCart { width: 40%; margin-left: 30px; }
  .wOrderLeft { width: calc(60% - 30px); } }

@media only screen and (max-width: 900px) { .wOrderCart, .wOrderLeft { width: 100%; margin-bottom: 30px; float: none; margin-left: 0; }
  .wCartItemControls { width: 130px; }
  .wSpinersBlock, .wCartPriceItem { float: none; margin-bottom: 10px; text-align: center; }
  .wCartItemInfo { width: calc(100% - 355px); }
  .wCartSlider .wCheck input { margin-right: 0px; }
  .wCartSlider .wCheck ins { top: 2px; height: 15px; width: 15px; }
  .wCartSlider .wCheck span:after { font-size: 12px; } }

@media only screen and (max-width: 720px) { .wFooterContacts { display: none; }
  .wLogo { display: inline-block; vertical-align: middle; }
  .wSliderTitle span, .wSliderTitle.wNoAfter span { font-size: 20px; padding: 0; }
  .wFooterContacts .wHeaderLH, .wHeaderLH + .wHeaderLH { display: none; }
  .wLogoBotBlock { float: none; width: 100%; text-align: center; }
  .wFooter { min-height: 240px; margin-top: -240px; }
  .wLogoBotBlock, .wFooterTop { height: 160px; line-height: 160px; min-height: 160px; }
  .wContainer { padding-bottom: 240px; }
  .wFooterTop { height: 80px; }
  .wCoryWryte, .wWezom { float: none; width: 100%; text-align: center; }
  .wCatalogList ul li { width: 135px; margin: 0 5px 5px; }
  .wCatalogCircle { height: 135px; width: 135px; border-radius: 135px; }
  .wCatalogCircleInn { width: 123px; height: 123px; border-radius: 123px; }
  .wCatalogSvg { max-width: 50px; max-height: 50px; }
  .wCatalogText span { font: 12px/18px Arial, Helvetica, sans-serif; display: inline-block; vertical-align: top; }
  .wPaggination a { width: 30px; }
  .wNumeric, .wSort { width: 100%; float: none; text-align: center; margin-bottom: 10px; }
  .wItemPhotos { float: none; width: 100%; }
  .wItemInfo:after { display: none; }
  .wItemInfo { float: none; width: 100%; margin-bottom: 10px; text-align: center; }
  .wDostTopText { font-size: 12px; line-height: 16px; }
  .wOplataTitle, .wDostTopText span { font-size: 16px; line-height: 20px; }
  #scrollerUp { width: 30px; height: 30px; }
  #scrollerUp svg { height: 20px; width: 20px; }
  .wContactsInfo, .wContactsForm { float: none; width: 100%; margin-bottom: 20px; }
  .wContTitle { font-size: 16px; }
  .wCartItemPhoto { width: 120px; height: 85px; display: inline-block; vertical-align: middle; }
  .wCartItemInfo { width: calc(100% - 295px); }
  .mfiModal { padding: 30px 20px; }
  .wCallBackPop { padding: 30px 20px; }
  .wBasketBtn .wBtn { width: 100%; text-align: center; margin-bottom: 10px; margin-left: 0; }
  .wBasketTotal, .wBasketContr { width: 100%; text-align: center; float: none; } }

@media only screen and (max-width: 600px) { .wItemTopElem { display: block; padding: 0; margin-bottom: 10px; }
  .wItemTopElem + .wItemTopElem { padding: 0; border: none; }
  .wOpElIcon { margin-right: 10px; }
  .wMap { height: 250px; }
  .wBasketStep { width: 100%; float: none; }
  .wCartItemDelete { position: absolute; right: -30px; top: 0; height: 30px; width: 30px; line-height: 30px; }
  .wCartItemDelete span { width: 30px; text-align: center; display: block; }
  .wCartItem { position: relative; height: auto; }
  .wCartItemPhoto { width: 175px; height: 125px; margin: 0 auto 10px; display: block; }
  .wCartItemInfo, .wCartItemControls { line-height: 0; width: 100%; display: block; text-align: center; }
  .wSpinersBlock { display: inline-block; vertical-align: top; }
  .wCartPriceItem { height: auto; line-height: 0; }
  .wForm .wRadio span span { font-size: 16px; }
  .wDostRekomend { margin-left: 0; }
  .wDostContent .wTxt ol li { margin-left: 30px; } }

@media only screen and (max-width: 540px) { .wSlidersPagg { position: relative; right: 0; top: 0; margin: 0 auto; }
  .wPreimItem { width: 48%; margin: 0 1% 10px; }
  .wPreimSvgBlock { width: 50px; height: 50px; }
  .wPreimSvgBlock svg { width: 30px; height: 30px; }
  .wPreimItem span { max-width: calc(100% - 60px); font: 12px/15px Arial, Helvetica, sans-serif; }
  .wNewsItem { height: auto; }
  .wNewsItemImg { float: none; margin: 0 auto 10px; display: block; }
  .wNewsItemLink { float: right; }
  .wSliderTitle > span:before, .wSliderTitle > span:after { display: none; }
  .wSliderTitle span, .wSliderTitle.wNoAfter span { line-height: 30px; }
  .wSortText, .wSortSelect, .wSortReset { width: 100%; margin: 0; }
  .wSliderOther { padding-bottom: 20px; border-bottom: 1px solid #ccc; } }

@media only screen and (max-width: 400px) { .wItemPhotosBlock { padding-top: 71.3%; }
  .wItemMainPhoto { width: 100%; margin-bottom: 10px; overflow: hidden; margin-bottom: 0; height: 100%; overflow: hidden; }
  .wItemDopPhoto { width: 100%; height: 66px; position: relative; }
  .wItemDopSlider { width: calc(100% - 40px); height: 66px; margin: 10px 20px 0; }
  .wItemDopSlider li { width: 90px; margin: 0 2px; }
  .wItemDopSlider li a:before { display: none; }
  .wPrevItem { height: 66px; width: 20px; left: 0; right: auto; }
  .wNextItem { height: 66px; width: 20px; }
  .wPrevItem svg, .wNextItem svg { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }
  .wPrevItem:active svg { -webkit-transform: translate(-2px, 0px) rotate(-90deg); -ms-transform: translate(-2px, 0px) rotate(-90deg); transform: translate(-2px, 0px) rotate(-90deg); }
  .wNextItem:active svg { -webkit-transform: translate(2px, 0) rotate(-90deg); -ms-transform: translate(2px, 0) rotate(-90deg); transform: translate(2px, 0) rotate(-90deg); }
  .wDuoRow { margin-bottom: 0 !important; }
  .wDuoRow .wFormInput { float: none; width: 100%; margin-bottom: 16px; }
  .wDuoRow .wFormInput + .wFormInput { margin-left: 0; }
  .wOrderForm .wBtn { width: 100%; text-align: center; padding: 0 10px; box-sizing: border-box; margin-bottom: 20px; }
  .wBasketPhoto { width: 120px; height: 85px; }
  .wBasketImg { width: 120px; height: 85px; margin-right: 10px; }
  .wOrderCart .wBtn { width: 100%; padding: 0 10px; text-align: center; box-sizing: border-box; } }

/*# sourceMappingURL=maps/responsive.css.map */
