.checkboxLink {
        height: 35px;
        width: 35px;
        text-align: center;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin: 0 5px;
        vertical-align: top;
        box-sizing: border-box;
		
    }

.ck-button {
    margin: 0 5px;
    overflow:auto;
    display: inline-block; 
	
}

.ck-button label {
    float:left;
    width:35px;	
	
}

.ck-button label span {
    text-align:center;
    display:block;
	height: 35px;
	line-height: 35px;	
	border-radius:2px;
    border: 1px solid #d7d7d7;

}

.ck-button label input {
    position:absolute;
    top:-20px;

}

.ck-button input:checked + span {
	border-color:#469522;
	color:#469522;
}

.ck-button input:hover + span {
	border-color:#469522;
	color:#469522;
	cursor:pointer;
}

.wSortReset a {
	text-decoration: none;
}